.App{
  width: 100%;
  height: auto;
  padding: 20px;
}

#Lista{
  list-style-type: none;
  margin: 0;
  
  font-weight: bold;
  text-align: center;
  padding: 50px 50px;
}
li{
 display: inline-block;
 font-size: 20px;
 padding: 20px;
 
}
li:hover{
  color: rgb(209, 9, 59);
}
#button{
  border-radius: 30px;
  border-style: groove;
  border-width: 1px;
  height: 35px;
  width: 150px;
  padding-bottom:35px;
}

#area-find{
  border-radius: 50px;
}
#button:hover{
  border-style: hidden;
}
.App-header{
  
  background-color: #a0171741;
}