.App{
  width: 100%;
  height: auto;
  padding: 20px;
}

#Lista{
  list-style-type: none;
  margin: 0;
  
  font-weight: bold;
  text-align: center;
  padding: 50px 50px;
}
li{
 display: inline-block;
 font-size: 20px;
 padding: 20px;
 
}
#button{
  border-radius: 30px;
  border-style: groove;
  border-width: 3px;
  height: 40px;
  width: 100px;
}
.App-header{
  
  background-color: #a0171741;
}