#Lista{
  width: 940px;
  height: auto;

  position: relative;
  font-weight: bold;
  text-align: center;

}
li{
 display: inline-block;
 font-size: 20px;
 padding: 10px;
}
.App-header{
  
  background-color: #f8f8f8;
}