#Lista{
  width: 940px;
  height: auto;
  display: inline-block;
  position: relative;
  font-weight: bold;
  text-align: center;

}
li{
 display: inline-block;
}
.App-header{
  
  background-color: #f8f8f8;
}