.App{
  width: 100%;
  height: auto;

}

#Lista{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}
li{
 display: inline-block;
 font-size: 20px;
 padding: 10px;
 
}
.App-header{
  
  background-color: #f8f8f8;
}