.foto-banner{
width:180px;
padding: 10px;
border-radius: 20px;
margin: 20px;
text-align: center;


}
.foto{
  width: 150px;
  border-radius: 120px;
  border-style: hidden  ;
  
}
.link{
  font-weight: bold;
  color: black;
}
.foto-banner:hover{

border: solid 1px black;


}
@media screen and (max-width: 768px) {
.navs{
  grid-template-columns: (3,2);
}

  
}


