.foto-banner{
width:180px;
padding: 10px;
border-radius: 20px;
margin: 20px;
text-align: center;


}
.foto{
  width: 150px;
  border-radius: 120px;
  border-style: hidden  ;
  
}
.link{
  font-weight: bold;
  color: black;
}
.foto-banner:hover{

border: solid 1px black;


}
.list{
  width: 150px;
  max-width: 940px;
  margin: 5rem;
  display: grid;
  gap: 2rem;
  list-style-type: none;
}
@media screen{
.list {
  grid-template-columns: repeat(6,1fr);
}

  
}


